# macOS sistem dosyaları
.DS_Store
.AppleDouble
.LSOverride

# IDE / Editor klasörleri
.idea/
.vscode/
*.iml

# PHP / Laravel
/vendor/
.env
.env.*
/node_modules/
composer.lock
npm-debug.log
yarn-error.log

# Cache, log ve temporary dosyalar
/storage/*.key
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*
*.log

# Sistem / OS
Thumbs.db
ehthumbs.db
Icon?

# Diğer gereksizler
/public/storage
/public/hot
/public/vendor

.gitignore.save
